@charset "utf-8";
@font-face {
    font-family: 'EliceDigitalBaeum-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    padding: 0; 
    margin: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #2B2F5C;
}
html{
    font-size: 15px;
}
body{
    font-family: 'EliceDigitalBaeum-Bd';
    list-style: 30px;
    color: #2B2F5C;
}
#wrap{
    min-width: 1360px;
}

/*header*/
#header{
    background-color: #FFFEE6;
    height: 100px;
}
.inner_header{
    width: 1320px;
    margin: 0 auto;
    position: relative;
}
.logo{
    position: absolute;
    top: 20px;
    left: 610px;
}
.inner_header h1 img{
    width: 80px;
}
.gnb{
    text-align: center;
}
.gnb li{
    display: inline-block;
    padding-top: 35px;
}
.gnb li:nth-child(2),.gnb li:nth-child(3){
    padding: 0 160px;
}
.gnb li a{
    display: block;
    padding: 2px 10px;
    margin-right: 10px;
    font-size: 20px;
}

/*banner*/
#banner{
    height: 830px;
    overflow: hidden;
    background-color: #FFFEE6;
}
.banner_bg{
    height: 750px;
    background: url(../images/main/banner/banner_bg.png) repeat center;
    text-align: center;
}
.inner_banner{
    width: 1320px;
    margin: 0 auto;
    position: relative;
}
.banner_menu li:nth-child(4){
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
/*banner_menu*/
.banner_menu li{
    display: inline-block;
}
.banner_menu li:nth-child(1) img{
    position: absolute;
    top: 185px;
    left: 210px;
    z-index: 8;
    width: 311px;
}
.banner_menu li:nth-child(2) img{
    position: absolute;
    top: 310px;
    left: 470px;
    z-index: 9;
    width: 371px;
}
.banner_menu li:nth-child(3) img{
    position: absolute;
    top: 185px;
    right: 210px;
    z-index: 8;
    width: 290px;
}
/*banner_text*/
.banner_text_r, .banner_text_m,.banner_text_l{
    position: absolute;
    z-index: 9;
    font-family: 'yg-jalnan';
    text-shadow: rgba(0, 0, 0, 16%) 0px 2px 3px;
}
.new{
    display: inline-block;
    padding: 1px 14px;
    font-size: 11px;
    border-radius: 10px;
}
.title{
    font-size: 22px;
    padding-top: 12px;
}
.sub_title{
    color: #FF870E;
    font-size: 18px;
}
.banner_text_m{
    top: 209px;
    left: 536px;
}
.banner_text_m .new{
    background-color: #292F6B;
    color: #FFFEE6;
    font-size: 18px;
}
.banner_text_m .sub_title{
    font-size: 20px;
}
.banner_text_r{
    top: 488px;
    right: 125px;
    text-align: left;
}
.banner_text_r .new{
    background-color: #FFFEE6 ;
    color: #292F6B;
}
.banner_text_r .title{
    color: #FFFEE8;
    text-align: left;
}
.banner_text_l{
    top: 488px;
    left: 125px;
    text-align: right;
}
.banner_text_l .new{
    background-color: #FFFEE6 ;
    color: #292F6B;
}
.banner_text_l .title{
    color: #FFFEE8;
    text-align: right;
}

/*banner_cloud*/
.banner_cloud_r li, .banner_cloud_l li{
    display: inline-block;
}
.banner_cloud_l{
    transform:rotate(90deg);
    -moz-transform: scaleX(-1); 
      -o-transform: scaleX(-1); 
 -webkit-transform: scaleX(-1); 
         transform: scaleX(-1);   
        filter: FlipH;
   -ms-filter: "FlipH";
}
.banner_cloud_r li:nth-child(1){
    position: absolute;
    top: 600px;
    right: -230px;
    z-index: 7;
}
.banner_cloud_r li:nth-child(2){
    position: absolute;
    top: 495px;
    right: -380px;
    z-index: 6;
}
.banner_cloud_r li:nth-child(3){
    position: absolute;
    top: 470px;
    right: -210px;
    z-index: 5;
}
.banner_cloud_l li:nth-child(1){
    position: absolute;
    top: 572px;
    right: -230px;
    z-index: 7;
}
.banner_cloud_l li:nth-child(2){
    position: absolute;
    top: 474px;
    right: -380px;
    z-index: 6;
}
.banner_cloud_l li:nth-child(3){
    position: absolute;
    top: 447px;
    right: -210px;
    z-index: 5;
}
/*banner_moon*/
.banner_moon li:nth-child(1){
    position: absolute;
    top: 150px;
    left: 470px;
    z-index: 6;
}
.banner_moon li:nth-child(2){
    position: absolute;
    top: 55px;
    left: 378px;
    z-index: 5;
}
/*banner_font_img*/
.banner_font_img li:nth-child(1){
    position: absolute;
    top: 120px;
    left: 140px;
    z-index: 7;
}
.banner_font_img li:nth-child(2){
    position: absolute;
    top: 147px;
    right: 140px;
    z-index: 7;
}
/*banner_star*/
.banner_star_r li, .banner_star_l li{
    display: inline-block;
    position: absolute;
    z-index: 2;
}
.banner_star_l{
    transform:rotate(90deg);
    -moz-transform: scaleX(-1); 
      -o-transform: scaleX(-1); 
 -webkit-transform: scaleX(-1); 
         transform: scaleX(-1);   
        filter: FlipH;
   -ms-filter: "FlipH";
}
.banner_star_r li:nth-child(1){
    top: 149px;
    right: -271px;
}
.banner_star_r li:nth-child(2){
    top: 342px;
    right: -127px;
}
.banner_star_r li:nth-child(3){
    top: 20px;
    right: 300px;
}
.banner_star_r li:nth-child(4){
    top: 390px;
    right: 180px;
}
.banner_star_r li:nth-child(5){
    top: 65px;
    right: -122px;
}
.banner_star_r li:nth-child(6) img{
    position: absolute;
    z-index: 2;
    top: 230px;
    right: 55px;
    width: 27px;
}
.banner_star_r li:nth-child(7){
    top: 400px;
    right: -326px;
}
.banner_star_r li:nth-child(8){ 
    top: 420px;
    right: 70px;
}
.banner_star_r li:nth-child(9){ 
    top: 100px;
    right: 30px;
}
.banner_star_r li:nth-child(10){ 
    top: 40px;
    right: 100px;
}
.banner_star_r li:nth-child(11){ 
    top: 355px;
    right: 2px;
}
.banner_star_l li:nth-child(1){
    top: 149px;
    right: -271px;
}
.banner_star_l li:nth-child(2){
    top: 342px;
    right: -127px;
}
.banner_star_l li:nth-child(3){
    top: 20px;
    right: 300px;
}
.banner_star_l li:nth-child(4){
    top: 390px;
    right: 180px;
}
.banner_star_l li:nth-child(5){
    top: 65px;
    right: -122px;
}
.banner_star_l li:nth-child(6) img{
    position: absolute;
    z-index: 2;
    top: 230px;
    right: 55px;
    width: 27px;
}
.banner_star_l li:nth-child(7){
    top: 400px;
    right: -326px;
}
.banner_star_l li:nth-child(8){ 
    top: 420px;
    right: 70px;
}
.banner_star_l li:nth-child(9){ 
    top: 100px;
    right: 30px;
}
.banner_star_l li:nth-child(10){ 
    top: 40px;
    right: 100px;
}
.banner_star_l li:nth-child(11){ 
    top: 355px;
    right: 2px;
}

/*section1*/
#section1{
    background-color: #FFFEE6;
    height: 900px;
}
.inner_section{
    width: 1320px;
    margin: 0 auto;
    padding-top: 200px;
}
.section_title{
    text-align: center;
    background: url(../images/main/star/bling_black.svg) no-repeat top;
}
.section_title h2{
    padding-top: 40px;
    font-family: Baskerville Old Face;
    font-size: 60px;
    font-weight: 400;
    padding-bottom: 10px;
}
.section_title p{
    font-weight: 200;
}

/*slide*/

#slide_wrap{
    padding: 100px 0 20px;
}

#slide {
    width: 1320px;
    height: 350px;
    margin: 0 auto;
}



#slide ul li a {
    display: block;
    margin: 5px;
}

.screen {
    position: relative;
    overflow: hidden;
}

.screen img {
    width: 100%;
    display: block;
}
.swiper_text{
    text-align: center;
    padding-top: 15px;
}

.swiper-slide-active+.swiper-slide+.swiper-slide .bottom {
    bottom: 0%;
}

.swiper-slide {
    transform: scale(0.75);
    transition: all 1s;
}
.screen_img{
    height: 310px;
}
.coffee1:hover,.coffee6:hover{
    background: url(../images/main/sub_1/hover_5.svg) no-repeat center top;
    background-size: 70%;
    height: 310px;
}
.coffee2:hover,.coffee7:hover{
    background: url(../images/main/sub_1/hover_2.svg) no-repeat center top;
    background-size: 70%;
    height: 310px;
}
.coffee3:hover,.coffee8:hover{
    background: url(../images/main/sub_1/hover_1.svg) no-repeat center top;
    background-size: 70%;
    height: 310px;
}
.coffee4:hover,.coffee9:hover{
    background: url(../images/main/sub_1/hover_3.svg) no-repeat center top;
    background-size: 70%;
    height: 310px;
}
.coffee5:hover,.coffee10:hover{
    background: url(../images/main/sub_1/hover_4.svg) no-repeat center top;
    background-size: 70%;
    height: 310px;
}
.swiper-slide-active+.swiper-slide+.swiper-slide {
    transform: scale(1);
}

.swiper-slide-duplicate-prev {
    transform: scale(0.75);
}

.swiper-button-prev {
    left: 100px;
}

.swiper-button-next {
    left: 200px;
}

.swiper-button-prev {
    content: url(../images/left.png);
    width: 50px;
    height: 42px;
}

.swiper-button-next {
    content: url(../images/right.png);
    width: 50px;
    height: 42px;
}

/*section2*/
#section2{
    overflow: hidden;
    height: 375px;
    background: url(../images/main/banner/banner_bg.png) repeat center;
}
.inner_section2{
    width: 1320px;
    height: 375px;
    margin: 0 auto;
    position: relative;
}
.section2_text{
    text-align: center;
    width: 1320px;
    height: 375px;
    background: url(../images/main/sub_2/bg.png) center;
    display: inline-block;
}
.section2_text h3{
    font-family: Baskerville Old Face;
    font-size: 55px;
    font-weight: 400;
    padding-top: 75px;
}
.section2_text p:nth-child(2){
    padding: 10px 0 5px;
}
.section2_text p:nth-child(3){
    padding-bottom: 20px;
}
.button{
    padding: 4px 14px;
    background-color: #FFC47A;
    display: inline-block;
    border-radius: 23px;
}
.section2_animation img{
    position: absolute;
    z-index: 3;
}
.section2_animation img:nth-child(1){
    top: 0px;
    left: -100px;
}
.section2_animation img:nth-child(2){
    top: 0px;
    right: -100px;
}
.section2_animation img:nth-child(3){
    top: 80px;
    left: 290px;
}
.section2_animation img:nth-child(4){
    top: 315px;
    right: 290px;
}
.section2_animation img:nth-child(5){
    top: 270px;
    left: 110px;
}
.section2_animation img:nth-child(6){
    top: 310px;
    left: 220px;
}
.section2_animation img:nth-child(7){
    top: 100px;
    right: 280px;
}
.section2_animation img:nth-child(8){
    top: 250px;
    right: 105px;
}
/*section3*/
#section3{
    height: 1010px;
    overflow: hidden;
}
.section3_text{
    padding-top: 630px;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
}
.inner_section3{
    width: 1320px;
    margin: 0 auto;
    position: relative;
    line-height: 35px;
    padding-top: 80px;
}
.round1{
    position: absolute;
    top: 260px;
    left: 180px;
    z-index: 9;
}
.button2{
    position: absolute;
    top: 352px;
    left: 135px;
    z-index: 9;
}
.round2{
    position: absolute;
    top: 260px;
    left: 480px;
    z-index: 8;
}
.round3{
    position: absolute;
    top: 260px;
    left: 780px;
    z-index: 7;
}

.section3_bg img:nth-child(1){
    position: absolute;
    top: -1px;
    left: -174px;
    z-index: 1;
}
.section3_bg img:nth-child(2){
    position: absolute;
    top: 1px;
    right: -174px;
    z-index: 1;
}

/*section4*/
#section4{
	height: 821px;
    background-color: #FFFEE6;
}
.inner_section4{
	width:1320px;
    margin: 0 auto;
	height:821px;
	position:relative;
}
.link{
    float: right;
    width: 400px;
    margin-left: 20px;
}
.link ul li{
	width:33.3%;
	height:220px;
	float:left;
	box-sizing:border-box;
}
.link ul li a{
	display:block;
	height:220px;
}
.link ul li a img{
    width: 100%;
}
.link h2{
    font-family: Baskerville Old Face;
    font-size: 60px;
    font-weight: 200;
    padding-top: 80px;
}
.link p{
    font-weight: 200;
}
.link p span{
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 25px 0 40px;
}
.link li p{
    font-size: 17px;
    font-weight: 100;
    line-height: 30px;
}
.img_wrap{
    float: left;
    width: 960px;
}
.link_button{
    padding-top: 80px;
}
.img_slide{
	position:relative;
}
.img1,.img2,.img3,.img4{
	position:absolute;
	top:0;
	left:-155px;	
	width: 960px;
	height:821px;
	background-size:cove;
}
.img1{
	z-index:2;
	background:url(../images/main/sub_4/black_bg.svg) no-repeat left center;
}
.img2{
	background:url(../images/main/sub_4/brown_bg.svg) no-repeat left center;
}
.img3{
	background:url(../images/main/sub_4/pupple_bg.svg) no-repeat left center;
}

/*section5*/
#section5{
    height: 860px;
    text-align: center;
}
.inner_section5{
    width: 1320px;
    padding-top: 55px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}
.social{
    padding-top: 55px;
}
.social_l, .social_r, .social_m{
    display: inline-block;
}
.social_l{
    float: left;
    padding-left: 100px;
    box-sizing: border-box;
}
.social_r{
    float: right;
    padding-right: 100px;
}
.social_l li:nth-child(2), .social_r li:nth-child(2){
    padding-top: 20px;
}
.social_l li a, .social_r li a{
    display: block;
}
.section5_bg img:nth-child(1){
    position: absolute;
    top: 258px;
    left: 0;
    z-index: 3;
}
.section5_bg img:nth-child(2){
    position: absolute;
    top: 258px;
    right: 0;
    z-index: 3;
}

/*footer*/
#footer{
    height: 352px;
    background-color: #20202E;
}
.inner_footer{
    width: 1320px;
    margin: 0 auto;
    position: relative;
    padding-top: 80px;
    box-sizing: border-box;
}
.footer_logo{
    width: 15%;
    text-align: center;
}
.footer_sns{
    padding-top: 10px;
}
.footer_sns a:nth-child(2){
    padding: 0 15px;
}
.footer_link li{
    float: left;
}
.footer_link li:nth-child(2){
    color: #FDD08F;
    padding-left: 50px;
    font-weight: 100;
}
.footer_link li:nth-child(2) p{
    padding-top: 25px;
}
.top_bt{
    position: absolute;
    display:scroll;
    position:fixed;
    bottom:30px;
    right:15px;
    z-index: 10;
}
.top_bt img{
    filter: drop-shadow(1px 2px 1px #61431b);
}
