@charset "utf-8";
@font-face {
    font-family: 'EliceDigitalBaeum-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    padding: 0; 
    margin: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #2B2F5C;
}
html{
    font-size: 15px;
}
body{
    font-family: 'EliceDigitalBaeum-Bd';
    list-style: 30px;
    color: #2B2F5C;
}
#wrap{
    min-width: 1320px;
}

/*section1*/
#section1{
    background-color: #FFFEE6;
    height: 1036px;
}
.inner_section{
    width: 1320px;
    margin: 0 auto;
    padding-top: 180px;
}
.title{
    text-align: center;
}
.title img{
    padding-top: 40px;
    background: url(../images/main/star/bling_black.svg) top no-repeat;
}